<!DOCTYPE html>
<html>
<head>
<title>PHONE BRANDS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
 <!-- Bootstrap JavaScript -->
    <!-- jQuery, Popper.js & Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <!-- <a href="#home" class="w3-bar-item w3-button"><b>PHONE</b> BRANDS</a> -->
    <a href="#home" class="w3-bar-item w3-button">Unlock-My-Phone</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">

      <div class="w3-bar">
        <!-- <a href="#" class="w3-bar-item w3-button">Global</a> -->
        <button class="w3-bar-item w3-button"><a href="">Global</a></button>
        <!-- <a href="#" class="w3-bar-item w3-button">Link 1</a> -->
        <div class="w3-dropdown-hover">
          <!-- <button class="w3-bar-item w3-button">Continents</button> -->
          <!-- corrects font issue -->
          <button class="w3-bar-item w3-button"><a href="">Continents</a></button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <!-- <a href="templates/africa.html" class="w3-bar-item w3-button">Africa</a> -->
            <button class="w3-bar-item w3-button"><a href="africa">Africa</a></button>
            <!-- <a href="#" class="w3-bar-item w3-button">Africa</a> -->
            <button class="w3-bar-item w3-button"><a href="europe">Europe</a></button>
            <button class="w3-bar-item w3-button"><a href="asia">Asia</a></button>
            <button class="w3-bar-item w3-button"><a href="oceania">Oceania</a></button>
            <button class="w3-bar-item w3-button"><a href="northamerica">North America</a></button>
            <button class="w3-bar-item w3-button"><a href="southamerica">South America</a></button>
            <!-- <a href="templates/europe.html" class="w3-bar-item w3-button">Europe</a>
            <a href="Visualizations/asia.html" class="w3-bar-item w3-button">Asia</a>
            <a href="Visualizations/oceania.html" class="w3-bar-item w3-button">Oceania</a>
            <a href="Visualizations/northamerica.html" class="w3-bar-item w3-button">North America</a>
            <a href="Visualizations/southamerica.html" class="w3-bar-item w3-button">South America</a> -->
          </div>
        </div>
        <!-- <a href="#news articles" class="w3-bar-item w3-button">News Articles</a> -->
        <button class="w3-bar-item w3-button"><a href="">News Article</a></button>
        <!-- <a href="#about" class="w3-bar-item w3-button">About</a> -->
        <button class="w3-bar-item w3-button"><a href="">About</a></button>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Charts Section -->
  <div class="w3-container w3-padding-32" id="charts">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Charts</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img src="/w3images/house5.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img src="/w3images/house2.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="/w3images/house3.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img src="/w3images/house4.jpg" alt="House" style="width:100%">
      </div>
    </div>
  </div>
<!-- 
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img src="/w3images/house2.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img src="/w3images/house5.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="/w3images/house4.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img src="/w3images/house3.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div> -->