<!DOCTYPE html>
<html>
<head>
<title>PHONE BRANDS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<!-- <div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Continents
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="Visualizations/africa.html">Max Temperature</a>
                      <a class="dropdown-item" href="Visualizations/europe.html">Humidity</a>
                      <a class="dropdown-item" href="Visualizations/asia.html">Cloudiness</a>
                      <a class="dropdown-item" href="Visualizations/oceania.html">Wind Speed</a>
                      <a class="dropdown-item" href="Visualizations/northamerica.html">Wind Speed</a>
                      <a class="dropdown-item" href="Visualizations/southamerica.html">Wind Speed</a>
                  </div> -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>PHONE</b> BRANDS</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!-- <a href="#global" class="w3-bar-item w3-button">Global</a> -->
      <!-- <a href="#continents" class='w3-bar-item dropdown-menu' aria-labelledby="navbarDropdownMenuLink">Continents</a> -->
      <!-- <div class="dropdown show w3-bar-item">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Continents
        </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="Visualizations/africa.html">Africa</a>
        <a class="dropdown-item" href="Visualizations/europe.html">Europe</a>
        <a class="dropdown-item" href="Visualizations/asia.html">Asia</a>
        <a class="dropdown-item" href="Visualizations/oceania.html">Oceania</a>
        <a class="dropdown-item" href="Visualizations/northamerica.html">North America </a>
        <a class="dropdown-item" href="Visualizations/southamerica.html">South America</a>
      </div> -->
      <div class="w3-bar">
        <!-- <a href="#" class="w3-bar-item w3-button">Global</a> -->
        <button class="w3-bar-item w3-button"><a href="">Global</a></button>
        <!-- <a href="#" class="w3-bar-item w3-button">Link 1</a> -->
        <div class="w3-dropdown-hover">
          <button class="w3-bar-item w3-button">Continents</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="Visualizations/africa.html" class="w3-bar-item w3-button">Africa</a>
            <!-- <a href="#" class="w3-bar-item w3-button">Africa</a> -->
            <a href="Visualizations/europe.html" class="w3-bar-item w3-button">Europe</a>
            <a href="Visualizations/asia.html" class="w3-bar-item w3-button">Asia</a>
            <a href="Visualizations/oceania.html" class="w3-bar-item w3-button">Oceania</a>
            <a href="Visualizations/northamerica.html" class="w3-bar-item w3-button">North America</a>
            <a href="Visualizations/southamerica.html" class="w3-bar-item w3-button">South America</a>
          </div>
        </div>
        <!-- <a href="#news articles" class="w3-bar-item w3-button">News Articles</a> -->
        <button class="w3-bar-item w3-button"><a href="">News Article</a></button>
        <!-- <a href="#about" class="w3-bar-item w3-button">About</a> -->
        <button class="w3-bar-item w3-button"><a href="">About</a></button>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://www.cnet.com/a/img/resize/8fc01ed8aad4d3b8d1b108f3d97b87ee0f8144dc/2020/08/18/b7168aea-9f7e-47bb-9f31-4cb8ad92fbc7/lg-note-20-ultra-5g-iphone-11-se-google-pixel-4a-lg-velvet-6133.jpg?auto=webp" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>PHONE</b></span> <span class="w3-hide-small w3-text-light-grey">BRANDS</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Charts Section -->
  <div class="w3-container w3-padding-32" id="charts">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Charts</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">#Number of SoCs made by companies, among top performing devices</div>
        <img src="static/Img/Number of SoC among top devices.png" alt="Bar graph" style="width:200%">
      </div>
    </div>
    <!-- <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img src="/w3images/house2.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="/w3images/house3.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img src="/w3images/house4.jpg" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img src="/w3images/house2.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img src="/w3images/house5.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="/w3images/house4.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img src="/w3images/house3.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div> -->

  <!-- News Article Section -->
  <div class="w3-container w3-padding-32" id="news article">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">News Article</h3>
    <p> News Article insert here
    </p>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p> Meet the team
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/w3images/team2.jpg" alt="Matthew" style="width:100%">
      <h3>Matthew Ward</h3>
      <p class="w3-opacity"> Team Member</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/w3images/team1.jpg" alt="Mariama" style="width:100%">
      <h3>Mariama Diallo</h3>
      <p class="w3-opacity">Team Member</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/w3images/team3.jpg" alt="Christian" style="width:100%">
      <h3>Christian Tourteau</h3>
      <p class="w3-opacity">Team Member</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/w3images/team4.jpg" alt="Herman" style="width:100%">
      <h3>Herman Tucker</h3>
      <p class="w3-opacity">Team Member</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="app.js"></script>
<script src="samples.json"></script>
</body>
</html>
